{% if devpc_proxy__envs.http_proxy | default %}
Acquire::http::proxy "{{ devpc_proxy__envs.http_proxy }}";
{% endif %}

{% if devpc_proxy__envs.https_proxy | default %}
Acquire::https::proxy "{{ devpc_proxy__envs.https_proxy }}";
{% endif %}
